asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
idna
oauthlib
Pillow
pip
pkg-resources
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
setuptools
social-auth-app-django
social-auth-core
sqlparse
typing-extensions
urllib3
wheel